#submit-button {
    height:20px ;
    width: 60px;
   display: inline; 
}

#mysearch {
    height:250px ;
    width: 2550px; 
}

div.background {
    background-image: url('https://sethwinternight.files.wordpress.com/2012/10/76108fd8b2cf2a7e0cf6d177dabdfa9c_2-nphd.jpg');
    background-size: cover;
    background-color: #fcfcfc;
    border: 100px solid black;
}
