#submit-button {
    height:20px ;
    width: 60px;
   display: inline; 
}

#mysearch {
    height:250px ;
    width: 2550px; 
}

div.background {
    background-image: url('https://s3.amazonaws.com/battlefy-user-generated-assets/users/559e1ef56a27d84300d67094/5707292bf993038512cefc7d.jpg');
    background-size: cover;
    background-color: #fcfcfc;
    border: 100px solid black;
}
